body{
    display: flex;

    justify-content: center;
    align-items: center;
    
    background-color: cornsilk;
}

.wrapper{
    margin: 10%;

    height: 235px;
    width: 333px;

    border: 1px solid orchid;
    border-radius: 12.5%;

    background-color: white;
}

.wrapper > form{
    display: grid;
    padding: 1em;
}

form > *{
    justify-self: center;

    padding: 1em;
}


.inputPassword{
    padding: 1em, 0;
    margin-left: -24px;
}